body{
    background-color: rgb(221, 200, 192);

}

 div {
 background-color: lightgrey;
 width: 400px;
 border: 30px solid rgb(187, 54, 54);
 padding: 50px;
 margin: 20px;
 text-align: center;
 }
     
    
    
           

        
            
                
            
            



